<?xml version="1.0"?>
<robot name="test_single_mesh">
  <link name="my_mesh">
      <contact>
      <lateral_friction value="1.0"/>
      <rolling_friction value="0.0"/>
      <inertia_scaling value="3.0"/>
      <contact_cfm value="0.0"/>
      <contact_erp value="1.0"/>
    </contact>
    <inertial>
      <mass value="100"/>
      <inertia ixx="0.00003" ixy="0" ixz="0" iyy="0.00003" iyz="0" izz="0.00003"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="/home/sirdome/katefgroup/tschindl/10507ae95f984daccd8f3fe9ca2145e1.obj"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="/home/sirdome/katefgroup/tschindl/10507ae95f984daccd8f3fe9ca2145e1.obj"/>
      </geometry>
    </collision>
  </link>
</robot>